<p-card header="Check point">
  <form [formGroup]="form">
    <label for="xValue">X:</label>
    <div class="field flex flex-row" id="xValue">
      <div class="field-checkbox flex-1"
           *ngFor="let val of xOptions; let i = index"
      >
        <p-radioButton
          [inputId]="'x_val_'+i"
          [value]="val"
          formControlName="x">
        </p-radioButton>
        <label [for]="'x_val_'+i" class="ml-2" [textContent]="val"></label>
      </div>
    </div>
    <div class="field">
      <label for="yValue">Y:</label>
      <input pInputText
             id="yValue"
             type="number"
             formControlName="y"
             class="focus:border-primary w-full">
      <div *ngIf="form.controls['y'].invalid && form.controls['y'].touched; else normal_msg">
        <small class="p-error">
          <span *ngIf="form.controls['y'].errors?.['required']">
            Should be a number
          </span>
          <span *ngIf="form.controls['y'].errors?.['out-of-range']">
            Not in {{constraints.yConstraint | async | floatRangeDescription}}
          </span>
        </small>
      </div>
      <ng-template #normal_msg>
        <small>{{constraints.yConstraint | async | floatRangeDescription}}</small>
      </ng-template>
    </div>
    <div class="flex justify-content-left gap-2">
      <p-button label="Check"
                [disabled]="isInvalid"
                (onClick)="send()"
      />
      <div *ngIf="form.touched && this.form.controls['x'].errors?.['required']">
        <small class="p-error">
          <p-message severity="error" text="Not all arguments present"/>
        </small>
      </div>
    </div>
  </form>
</p-card>
